<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
   
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/ordermanager</url-pattern>
        <url-pattern>/manageaccount</url-pattern>
        <url-pattern>/StaffManagement</url-pattern>
        <url-pattern>/newsmanagement</url-pattern>
        <url-pattern>/newscategoriesmanagement</url-pattern>
        <url-pattern>/productmanagement</url-pattern>
        <url-pattern>/productcategoriesmanagement</url-pattern>
        <url-pattern>/ordermanager</url-pattern>
        <url-pattern>/pushproducttokiotviet</url-pattern>
        <url-pattern>/callapi.jsp</url-pattern>
          
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControl</servlet-name>
        <servlet-class>productController.CheckoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controller.user.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>controller.user.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.user.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithFacebook</servlet-name>
        <servlet-class>controller.user.LoginWithFacebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithPhone</servlet-name>
        <servlet-class>controller.user.LoginWithPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithPhoneSuccess</servlet-name>
        <servlet-class>controller.user.LoginWithPhoneSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterWithPhone</servlet-name>
        <servlet-class>controller.user.RegisterWithPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterWithPhoneSuccess</servlet-name>
        <servlet-class>controller.user.RegisterWithPhoneSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>productController.DetailControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userprofile</servlet-name>
        <servlet-class>controller.user.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.user.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutControl</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginWithGoogle</servlet-name>
        <servlet-class>controller.user.LoginWithGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comments</servlet-name>
        <servlet-class>productController.CommentsView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/reset-pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithFacebook</servlet-name>
        <url-pattern>/login-facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithPhone</servlet-name>
        <url-pattern>/login-phone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithPhoneSuccess</servlet-name>
        <url-pattern>/succesful-phone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterWithPhone</servlet-name>
        <url-pattern>/register-phone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterWithPhoneSuccess</servlet-name>
        <url-pattern>/succesful-registerphone</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>newsPerPage</param-name>
        <param-value>2</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>userprofile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGoogle</servlet-name>
        <url-pattern>/loginwithgoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comments</servlet-name>
        <url-pattern>/CommentsView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>newsPerPage</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>recordPerPageManagement</param-name>
        <param-value>2</param-value>
    </context-param>
    <init-param>
        <param-name>debug</param-name>
        <param-value>false</param-value>
    </init-param>
</web-app>
